.logo {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.logo h1 {
    font-size: 4rem;
    font-family: 'Courier New', Courier, monospace;
    color: #462a93;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: gray;
    border-radius: 1rem;
    gap: 1rem;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-links a {
    text-decoration: none;
    color: #462a93;
    font-size: 1.25rem;
}

.nav-links a:hover {
    color: #825fe5;
    transition: 1s;
}

.mainbuttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1rem;
}

.subtit {
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    color: #462a93;
    margin-top: 1rem;
}

h2 {
    text-align: center;
    margin-top: 2rem;
}

.welcome {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border-radius: 1rem;
    margin-top: 2rem;
}

.itemcontainer {
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
}

.itemcontainer img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 1rem;
    border-color: #825fe5;
    border-style: solid;
    border-width: 0.2rem;
}

.itemlist {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    padding: 2rem;
}

.itemlist a:hover {
    transform: scale(1.02);
    transition: 0.5s;
}

.itemlist h2 {
    color: #462a93;
    font-size: 2rem;
    font-weight: bold;
    font-style: oblique;
    text-shadow: #825fe5 1px 1px 2px;
}

.itemlist h3 {
    color: #462a93;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: #825fe5 2px 2px 4px;
}

.infocontainer {
    max-width: 800px;
    max-height: 800px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
}

.itemdetail {
    max-width: 800px;
    max-height: 1000px;
    margin-top: 2rem;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
}

.itemdetail img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 1rem;
    border-color: #825fe5;
    border-style: solid;
    border-width: 0.2rem;
}

.itemdetail h2 {
    color: #462a93;
    font-size: 2rem;
    font-weight: bold;
    font-style: oblique;
    text-shadow: #825fe5 1px 1px 2px;

}

.itemdetail h3 {
    color: #462a93;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: #825fe5 2px 2px 4px;
}

.itemdetail h4 {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    color: #462a93;
    font-size: 20px;
    text-align: center;
}